# 1. Load Dataset

In [4]:
# https://www.geeksforgeeks.org/how-to-read-all-csv-files-in-a-folder-in-pandas/
# https://stackoverflow.com/questions/8369219/how-can-i-read-a-text-file-into-a-string-variable-and-strip-newlines
# https://stackoverflow.com/questions/10715965/create-a-pandas-dataframe-by-appending-one-row-at-a-time/10716007#10716007

import pandas as pd
import os
import glob

# use glob to get all the txt files in the folder 
path = os.getcwd() + '\\Datasets'
# added -plain to avoid the text description
text_files = glob.glob(os.path.join(path, "*-plain.txt"))

In [64]:
def append_row(df, row):
    return pd.concat([
                df, 
                pd.DataFrame([row], columns=row.index)]
           ).reset_index(drop=True)

df = pd.DataFrame(columns=('lib', 'qty1', 'qty2'))

In [80]:
# Declare a dataframe
df = pd.DataFrame(columns=['Station', 'Text'])

for file in text_files:
    # Get the radio station
    radio_station = file.split('\\Datasets\\')[1].split('-plain.txt')[0][:-1]

    # Get the text data
    with open(file, 'r') as f:
        text = f.read().replace('\n', ' ')

    # Declare a new row to append
    new_row = pd.Series({
        'Station':radio_station,
        'Text':text,
    })

    # Save text into dataframe
    df = append_row(df, new_row)

In [86]:
# Verify correct loading of data
df.head(10)

  Station                                               Text
0    ABCE   Thanks for that John Hall now John Hall will ...
1    ABCE   Ah look l Les Pete. .  Simon.  G'day Peto.  S...
2    ABCE   If you haven't been with us before this how i...
3    ABCE   Uh blue-tongues'd be  unlikely to eat them be...
4   ABCNE   A very good afternoon to you Roly.  Good afte...
5   ABCNE   And Greg Kerrin is my guest. Hello Greg.  G'd...
6    COME   Good morning and welcome to another Two G B w...
7    COME   Good morning everyone and welcome to a very f...
8    COME   The doctor is in the lines are open one-three...
9    COME   Morning Mark.   Uh uh good morning John. Um t...

In [55]:
# Some notes...
# Already can see some australian slang - G'day appears in a few text files already
# Much more casual language sometimes
# Data is unbalanced - some stations more represented than others - how to deal with it?

ABCE

In [42]:
text

'ABCNE'